.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35rem;
    padding: 3rem;
    text-align: center;
    border-radius: 15px;
    box-shadow: #0000001a 0px 6px 12px;
    background-color: #ffffff05;
    backdrop-filter: blur(10px) saturate(100%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    
    &__message {
        font-size: 1.2rem;
        font-weight: 900;
        margin-bottom: 1rem;
        color: #ff0000;
        text-shadow: #00000044 0px 6px 12px;
    }
    
    &__warning {
        font-size: .8rem;
        font-weight: 300;
        word-spacing: 2px;
        color: #d8d8d8;

        b {
            color: #ffffff;
            font-weight: 900;
            text-shadow: #00000044 0px 6px 12px;
        }
    }
}

@media (max-width: 768px) {
    .error-container {
        width: 32rem;
        padding: 3rem;
        border: solid 1px #ffffff09;

        &__message {
            font-size: 1.5rem;
            margin-bottom: 1.2rem;
        }
        
        &__warning {
            font-size: 1rem;
            word-spacing: 2px;
        }
    }
}