.loader {
    margin: 2rem;
    padding: 2rem;

    &__container__line {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        border-radius: 15px;
        background-color: #fff;

        &:nth-last-child(1) {
            animation: loadingB 1.5s 1s infinite;
        }
    
        &:nth-last-child(2) {
            animation: loadingB 1.5s 0.5s infinite;
        }
    
        &:nth-last-child(3) {
            animation: loadingB 1.5s 0s infinite;
        }
    }
}

@keyframes loadingB {
    0% {
        width: 1rem;
    }
    50% {
        width: 2rem;
    }
    100% {
        width: 1rem;
    }
}

@media (max-width: 1000px) {
    .loader {
        &__container__line {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    @keyframes loadingB {
        0% {
            width: 1.5rem;
        }
        50% {
            width: 2.5rem;
        }
        100% {
            width: 1.5rem;
        }
    }
}

@media (max-width: 700px) {
    .loader {
        &__container__line {
            width: 2rem;
            height: 2rem;
        }
    }

    @keyframes loadingB {
        0% {
            width: 2rem;
        }
        50% {
            width: 3rem;
        }
        100% {
            width: 2rem;
        }
    }
}