.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: height .3s;
    -webkit-transition: height .3s;
    -moz-transition: height .3s;
    -ms-transition: height .3s;
    -o-transition: height .3s;

    &__form {
        position: relative;
        border-radius: 50px;
        font-family: 'Outfit', sans-serif;
        background-color: #ffffff11;
        box-shadow: #0000001f 0px 4px 12px;
        width: 22rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(6px) saturate(100%);
        -webkit-backdrop-filter: blur(6px) saturate(100%);

        &__input {
            all: unset;
            position: absolute;
            left: .8rem;
            font-size: 1rem;
            font-weight: 200;
            width: 65%;
        }

        &__clear-icon {
            &--show {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 24%;
                font-size: 1.3rem;
                cursor: pointer;
                transform: scale(1);
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
                transition: transform .3s;
                -webkit-transition: transform .3s;
                -moz-transition: transform .3s;
                -ms-transition: transform .3s;
                -o-transition: transform .3s;
            }

            &--hide {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 24%;
                font-size: 1.3rem;
                cursor: pointer;
                transform: scale(0);
                -webkit-transform: scale(0);
                -moz-transform: scale(0);
                -ms-transform: scale(0);
                -o-transform: scale(0);
                transition: transform .3s;
                -webkit-transition: transform .3s;
                -moz-transition: transform .3s;
                -ms-transition: transform .3s;
                -o-transition: transform .3s;
            }
        }

        &__submit-btn {
            all: unset;
            position: absolute;
            right: 0;
            border-left: 1.3px solid #ffffff22;
            border-radius: 0 50px 50px 0;
            cursor: pointer;
            user-select: none;
            text-transform: uppercase;
            letter-spacing: -1px;
            font-weight: 600;
            font-family: 'Outfit', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background .2s;
            height: 100%;
            width: 22%;

            &:hover {
                background-color: #ffffff15;
            }

            &:active {
                background-color: #ffffff22;
            }
        }
    }

    &--half {
        height: 20%;
        transition: height .3s;
        -webkit-transition: height .3s;
        -moz-transition: height .3s;
        -ms-transition: height .3s;
        -o-transition: height .3s;
    }
    
    &--full {
        height: 100%;
        transition: height .3s;
        -webkit-transition: height .3s;
        -moz-transition: height .3s;
        -ms-transition: height .3s;
        -o-transition: height .3s;
    }
}


@media (max-width: 1200px) {
    .search {
        &__form {
            width: 26rem;
            height: 3rem;

            &__input {
                font-size: 1.2rem;
                left: 1rem;
            }

            &__submit-btn {
                font-size: 1.2rem;
            }

            &__clear-icon {
                &--show {
                    font-size: 1.5rem;
                }

                &--hide {
                    font-size: 1.5rem;
                }
            }
        }

        &--half {
            height: 15%;
        }
    }
}

@media (max-width: 900px) {
    .search {
        &__form {
            width: 28rem;
            height: 3.3rem;

            &__input {
                font-size: 1.3rem;
                left: 1rem;
            }

            &__submit-btn {
                font-size: 1.3rem;
            }

            &__clear-icon {
                &--show {
                    font-size: 1.8rem;
                }

                &--hide {
                    font-size: 1.8rem;
                }
            }
        }

        &--half {
            height: 15%;
        }
    }
}

@media (max-width: 800px) {
    .search {
        &__form {
            width: 30rem;
            height: 3.6rem;

            &__input {
                font-size: 1.4rem;
                left: 1rem;
            }

            &__submit-btn {
                font-size: 1.4rem;
            }

            &__clear-icon {
                &--show {
                    font-size: 1.9rem;
                }

                &--hide {
                    font-size: 1.9rem;
                }
            }
        }

        &--half {
            height: 15%;
        }
    }
}

@media (max-width: 700px) {
    .search {
        &__form {
            width: 32rem;
            height: 4rem;

            &__input {
                font-size: 1.5rem;
                left: 1rem;
            }

            &__submit-btn {
                font-size: 1.5rem;
            }

            &__clear-icon {
                &--show {
                    font-size: 2rem;
                }

                &--hide {
                    font-size: 2rem;
                }
            }
        }

        &--half {
            height: 15%;
        }
    }
}