.song-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000055;

    &__song-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        &__icons {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            padding: 1rem;
            user-select: none;

            span {
                font-size: .9rem;
                font-weight: 900;
                width: 1.6rem;
                height: 1.6rem;
                background-color: #ffffff22;
                margin: 0 .1rem;
                border-radius: 6px;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                -ms-border-radius: 6px;
                -o-border-radius: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &__song-data {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &__track {
                font-size: 2rem;
                font-weight: 900;
                color: #eee;
                margin: 1rem 0;
            }

            &__artist {
                font-size: 1rem;
                font-weight: 600;
                color: #ccc;
                margin: .7rem 0;
            }

            &__album {
                font-size: .8rem;
                font-weight: 500;
                color: #aaa;
                margin: .6rem 0;
            }

            &__genre {
                font-size: .6rem;
                font-weight: 500;
                color: #aaa;
                margin: .5rem 0;
            }

            &__lyrics--close {
                width: 10rem;
                height: 2.5rem;
                padding: .5rem;
                background-color: #00000044;
                backdrop-filter: blur(16px) saturate(100%);
                -webkit-backdrop-filter: blur(16px) saturate(100%);
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
                margin: 1.2rem 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                transition: width .3s, height .5s, border-radius .3s, border .3s;
                -webkit-transition: width .3s, height .5s, border-radius .3s, border .3s;
                -moz-transition: width .3s, height .5s, border-radius .3s, border .3s;
                -ms-transition: width .3s, height .5s, border-radius .3s, border .3s;
                -o-transition: width .3s, height .5s, border-radius .3s, border .3s;

                & div:nth-child(1) {
                    position: relative;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 500;
                    color: #999;
                    padding: 0;
                    transition: padding .3s, color .3s;
                    -webkit-transition: padding .3s, color .3s;
                    -moz-transition: padding .3s, color .3s;
                    -ms-transition: padding .3s, color .3s;
                    -o-transition: padding .3s, color .3s;

                    &:hover {
                        color: #fff;
                    }

                    input {
                        cursor: pointer;
                        position: absolute;
                        inset: 0 0 0 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                    }

                    i {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 1.2rem;
                        z-index: -1;
                        transform: rotate(-90deg);
                        -webkit-transform: rotate(-90deg);
                        -moz-transform: rotate(-90deg);
                        -ms-transform: rotate(-90deg);
                        -o-transform: rotate(-90deg);
                        transition: transform .3s;
                        -webkit-transition: transform .3s;
                        -moz-transition: transform .3s;
                        -ms-transition: transform .3s;
                        -o-transition: transform .3s;
                    }
                }
                
                & div:nth-child(2) {
                    width: 100%;
                    font-size: 0rem;
                    font-weight: 400;
                    line-height: 2;
                    color: #777;
                    padding: 0;
                    margin: 0;
                    overflow: hidden scroll;
                    opacity: 0;
                    transition:  opacity .3s, padding .3s, margin .3s, font-size .5s;
                    -webkit-transition:  opacity .3s, padding .3s, margin .3s, font-size .5s;
                    -moz-transition:  opacity .3s, padding .3s, margin .3s, font-size .5s;
                    -ms-transition:  opacity .3s, padding .3s, margin .3s, font-size .5s;
                    -o-transition:  opacity .3s, padding .3s, margin .3s, font-size .5s;
                }
            }

            &__lyrics--open {
                width: 20rem;
                height: 15rem;                
                padding: .5rem;
                background-color: #00000044;
                backdrop-filter: blur(16px) saturate(100%);
                -webkit-backdrop-filter: blur(16px) saturate(100%);
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
                margin: 1.2rem 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                transition: width .3s, height .5s, border-radius .3s, border .3s;
                -webkit-transition: width .3s, height .5s, border-radius .3s, border .3s;
                -moz-transition: width .3s, height .5s, border-radius .3s, border .3s;
                -ms-transition: width .3s, height .5s, border-radius .3s, border .3s;
                -o-transition: width .3s, height .5s, border-radius .3s, border .3s;
                
                & div:nth-child(1) {
                    position: relative;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 500;
                    color: #999;
                    padding: 1rem 0 0 0;
                    transition: padding .3s, color .3s;
                    -webkit-transition: padding .3s, color .3s;
                    -moz-transition: padding .3s, color .3s;
                    -ms-transition: padding .3s, color .3s;
                    -o-transition: padding .3s, color .3s;

                    &:hover {
                        color: #fff;
                    }
                    
                    input {
                        cursor: pointer;
                        position: absolute;
                        inset: 0 0 0 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                    }

                    i {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 1.2rem;
                        z-index: -1;
                        transform: rotate(0deg);
                        -webkit-transform: rotate(0deg);
                        -moz-transform: rotate(0deg);
                        -ms-transform: rotate(0deg);
                        -o-transform: rotate(0deg);
                        transition: transform .3s;
                        -webkit-transition: transform .3s;
                        -moz-transition: transform .3s;
                        -ms-transition: transform .3s;
                        -o-transition: transform .3s;
                    }
                }
                
                & div:nth-child(2) {
                    width: 100%;
                    font-size: .8rem;
                    font-weight: 400;
                    line-height: 2;
                    color: #777;
                    padding: 0 2rem;
                    margin: 1rem;
                    overflow: hidden scroll;
                    opacity: 1;
                    transition:  opacity .3s, padding .3s, margin .3s, font-size .5s;
                    -webkit-transition:  opacity .3s, padding .3s, margin .3s, font-size .5s;
                    -moz-transition:  opacity .3s, padding .3s, margin .3s, font-size .5s;
                    -ms-transition:  opacity .3s, padding .3s, margin .3s, font-size .5s;
                    -o-transition:  opacity .3s, padding .3s, margin .3s, font-size .5s;
                }
            }
        }

        &__song-link {
            position: absolute;
            bottom: .5rem;
            left: 1rem;
            font-size: .8rem;
            font-weight: 600;
        }

        &__back-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            margin: 1rem;
            padding: .3rem .5rem;
            user-select: none;
            cursor: pointer;
            background-color: #ffffff22;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            transition: letter-spacing .3s, background .3s;
            -webkit-transition: letter-spacing .3s, background .3s;
            -moz-transition: letter-spacing .3s, background .3s;
            -ms-transition: letter-spacing .3s, background .3s;
            -o-transition: letter-spacing .3s, background .3s;

            i {
                font-size: 1rem;
                font-weight: 900;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: .2rem;
            }

            p {
                font-size: .8rem;
                font-weight: 500;
                white-space: nowrap;
            }

            &:hover {
                letter-spacing: 1px;
                background-color: #ffffff2a;
            }

            &:active {
                background-color: #ffffff3a;
            }
        }
    }
}

@media (max-width: 768px) {
    .song-page {
        &__song-container {
            &__icons {
                span {
                    font-size: 1.3rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    margin: 0 .2rem;
                }
            }

            &__song-data {
                &__track {
                    font-size: 3.5rem;
                    margin: 2rem 0;
                }

                &__artist {
                    font-size: 2.5rem;
                    margin: 1.5rem 0;
                }

                &__album {
                    font-size: 1.5rem;
                    margin: 1rem 0;
                }

                &__genre {
                    font-size: 1rem;
                    margin: .5rem 0;
                }

                &__lyrics--close {
                    width: 15rem;
                    height: 3.5rem;            
                    border: solid 1px #ffffff00;

                    & div:nth-child(1) {
                        font-size: 1.5rem;

                        i {
                            font-size: 2rem;
                        }
                    }
                }

                &__lyrics--open {
                    width: 28rem;
                    height: 22rem;           
                    border: solid 1px #ffffff11;

                    & div:nth-child(1) {
                        font-size: 1.5rem;

                        i {
                            font-size: 2rem;
                        }
                    }

                    & div:nth-child(2) {
                        font-size: 1rem;
                    }
                }
            }

            &__song-link {
                font-size: 1rem;
            }

            &__back-btn {
                padding: .5rem .8rem;
    
                i {
                    font-size: 1.5rem;
                }
    
                p {
                    font-size: 1.2rem;
                }
            }
        }
    }
}