.warning-popup {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000aa;
    z-index: 2;
    position: absolute;
    inset: 0 0 0 0;
    backdrop-filter: blur(15px) saturate(100%);
    -webkit-backdrop-filter: blur(15px) saturate(100%);

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: fit-content;
        height: 50%;
        max-width: 70%;
        max-height: 50%;
        padding: 2rem;
        text-align: center;
    }

    &__title {
        text-transform: uppercase;
        letter-spacing: -2px;
        word-spacing: 6px;
    }

    &__warning-text {
        margin: 1rem;
        color: #ff0000;
        font-weight: 400;
    }

    &__description-text {
        word-spacing: 2px;
        font-weight: 400;
        font-size: .8rem;
        color: #ccc;
        margin: .7rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__button {
        margin-top: 1rem;
        font-size: 1.2rem;
        font-weight: 600;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        border-radius: 50px;
        font-family: 'Outfit', sans-serif;
        background-color: #ffffff08;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        width: 20rem;
        height: 2.5rem;
        transition: background .3s;

        &:hover {
            background-color: #ffffff15;
        }

        &:active {
            background-color: #ffffff22;
        }
    }
}

@media (max-width: 900px) {
    .warnin-popup {
        &__container {
            max-width: 90%;
            max-height: 40%;
            padding: .5rem;
        }
    
        &__title {
            font-size: 1.2rem;
        }
    
        &__warning-text {
            font-size: .8rem;
        }
    
        &__description-text.popup-text {
            font-size: .6rem;
        }
    }
}