.warning-popup {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000aa;
    z-index: 3;
    position: absolute;
    inset: 0 0 0 0;
    backdrop-filter: blur(15px) saturate(100%);
    -webkit-backdrop-filter: blur(15px) saturate(100%);

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: fit-content;
        height: 50%;
        max-width: 100%;
        padding: 2rem;
        text-align: center;
    }

    &__title {
        text-transform: uppercase;
        letter-spacing: -2px;
        word-spacing: 6px;
        white-space: nowrap;
    }

    &__warning-text {
        margin: 1rem;
        color: #ff0000;
        font-weight: 400;
        max-width: 50%;
    }

    &__description-text {
        word-spacing: 2px;
        font-weight: 300;
        font-size: .8rem;
        color: #ccc;
        margin: .7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 40%;
    }

    &__button {
        margin-top: 1rem;
        font-size: 1.2rem;
        font-weight: 600;
        border: none;
        cursor: pointer;
        border-radius: 50px;
        font-family: 'Outfit', sans-serif;
        background-color: #ffffff11;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        width: 40%;
        padding: .5rem 0;
        transition: background .3s;

        &:hover {
            background-color: #ffffff15;
        }

        &:active {
            background-color: #ffffff22;
        }
    }
}

@media (max-width: 1200px) {
    .warning-popup {
        &__title {
            font-size: 2rem;
            letter-spacing: -1px;
        }

        &__warning-text {
            font-size: 1.2rem;
            max-width: 70%;
        }

        &__description-text {
            font-size: .8rem;
            max-width: 60%;
        }

        &__button {
            font-size: 1.5rem;
            width: 60%;
            padding: .8rem 0;
        }
    }
}