@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap');

:root {
    color-scheme: dark;
}

/* width */
::-webkit-scrollbar {
    width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 50px;
    background: #ffffff11;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff22;
    border-radius: 50px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

html {
    font-size: calc(10px + .8vw);
    overflow: hidden;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    overflow: hidden;
    font-family: 'Outfit', sans-serif;
}

:any-link {
    text-decoration: none;
    cursor: pointer;
}

.link {
    position: relative;
    padding: .1rem;
    color: #00b7ff;
    z-index: 1;
    transition: color .2s;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -o-transition: color .2s;
    width: fit-content;
    display: inline;
}

.link::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 92% 0 0 0;
    background-color: #00b7ff;
    transition: inset .2s;
    -webkit-transition: inset .2s;
    -moz-transition: inset .2s;
    -ms-transition: inset .2s;
    -o-transition: inset .2s;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.link:hover {
    color: #000;
}

.link:hover::after {
    inset: 0 0 0 0;
}